* {
  margin: 0;
  padding: 0;
}

h1,
h2,
p {
  margin: 0;
  padding: 0;
}

body {
  padding-left: 40px;
  padding-right: 40px;
  overflow-x: hidden;
}

.select-container {
  margin-top: 20px;
}

.breed-select {
  width: 150px;
  margin-bottom: 10px;
  padding: 4px;
}

.box {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.cat-info {
  display: flex;
  gap: 30px;
}

.text-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 16px;
}

.title,
.text,
.subtitle {
  color: #22343d;
  font-family: sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: normal;
}

.text {
  font-size: 16px;
}

.subtitle {
  font-size: 22px;
  font-weight: 600;
}

.loader {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: inline-block;
  border-top: 4px solid #fff;
  border-right: 4px solid transparent;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}
.loader::after {
  content: '';
  box-sizing: border-box;
  position: absolute;
  left: 0;
  top: 0;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  border-left: 4px solid #ff3d00;
  border-bottom: 4px solid transparent;
  animation: rotation 0.5s linear infinite reverse;
}
@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.error {
  font-weight: 16px;
  font-weight: 500;
  color: red;
}

.is-hidden {
  display: none;
}
